body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 28px;
    color: #333;
    margin: 0;
}

.input-container {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
    width: 70%;
    border-radius: 5px 0 0 5px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f5faf6;
}

ul {
    list-style-type: none;
    padding: 0;
}

.task {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task p {
    margin: 0;
    font-size: 16px;
    color: #555;
}

.checkGreen {
    margin-right: 10px;
}

.checkGreen:checked + span {
    text-decoration: underline;
    color: #4caf50;
}

.removeRed {
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #ff6347;
}

.removeRed:hover {
    color: #d32f2f;
}
